.ScaleDisplayDialog {
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.ScaleDisplayText {
  font-weight: 700;
  font-size: 120%;
}

.inline-flex {
  display: flex;
  align-items: center;
}

.Scale-dropdown-icon {
  margin-right: 15px;
  color: teal;
}

.onClickContainerHover:hover {
  background-color: #bcbcbc
}
