.String {
    display: flex;
    flex-flow: row;
    /*position: static;

    display: table;
    clear: both;*/
}

.String-first {
    border-top-style: solid;
    border-top-color: #adb3bc;
    border-top-width: 3px;
}

.String-last {
    border-bottom-style: solid;
    border-bottom-color: #adb3bc;
    border-bottom-width: 3px;
}
