.Fret {
  position: relative;
  flex-grow: 1;
  /*min-width: 50px;*/
  min-height: 20px;
  width: 50px;
  border-width: 0;
  border-style: solid;
  border-right-color: black;
  border-right-width: 1px;
  border-top-style: none;
  border-bottom-style: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  vertical-align: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 100ms ease-in-out;
  z-index: 0;
  background-color: white;
}

.FretSelectable{
  cursor: pointer;
  user-select: none;
}

.FretText {
  font-size: 15px;
  display: inline-block;
    color: transparent;

}

.FretDisplayer {
  background-color: inherit;
  z-index: 0
}

.Fret:hover .FretText {
  background-color: inherit;
  z-index: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
}

.Fret:hover {
  color: black
}

.Fret-zeroFret {
  min-width: 40px;
  flex-grow: 0;
  border-style: solid;
  border-right-color: grey;
  border-right-width: 5px;
  text-align: right;
  justify-content: flex-end;
  color: black;
}

.Fret-zeroFret>.FretDisplayer>.Line {
  color: transparent;
}

.Fret-zeroFret>.FretDisplayer>.FretText, .Fret:first-child .NoteSelected>.FretDisplayer>.FretText {
  color: black;
}

.Fret-last {
  border-right-style: solid;
  border-right-color: grey;
  border-right-width: 5px;
}

.Line {
  color: black;
  position: absolute;
  left: 0; /*Needed for Firefox*/
  z-index: -1;
  top: 50%;
  height: 0;
  width: 100%;
  border-style: solid;
  border-width: 1px;
}

.NoteSelected {
  background-color: lightgrey;
  z-index: 2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.NoteSelected .FretText {
  display: inline-block;
  background-color: inherit;
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.Root {
  background-color: cornflowerblue;
}

.prime{
  background-color: #4F6576
}

.second{
  background-color: #AA5939,
  
  
  

}

.third{
  background-color: #026B3E
}

.fourth{
  background-color: #B89C77
}

.fifth{
  background-color: #9C5B03,
}

.sixth{
  background-color: #B88A77
}

.seventh{
  background-color: #9C2F03,
}

.tritone{
  background-color: #9C0303,
}



.FretNoSelect {
    
    -webkit-tap-highlight-color:  rgba(0, 0, 0, 0); 
}