.TuningSelector, .TuningSelectorDummy {
    position: relative;
    flex-grow: 0;
    user-select: none;
    cursor: pointer;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right-style: solid;
    border-right-color: darkgrey;
    border-right-width: 2px;
}
.TuningSelectorDummy{
    border-color: transparent;
    color: transparent;
    cursor: default
}
.btnDummy{
    color: transparent
}

.tuneDown-btn:hover, .tuneUp-btn:hover {
    background-color: lightgrey
}

.tuneDown-btn, .tuneUp-btn, .btnDummy{
    overflow: hidden;
    max-width: 20px;
    border: none
}
